<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header') %>
    <main class="main">
      <h1>Author Name: <%= title %></h1>
      <h3>Added: <%= date %></h3>
      <p><%= text %></p>
    </main>
  </body>
</html>
